# Server
server.port=8080

# OpenWeatherMap
openweather.api.key=YOUR_OPENWEATHER_API_KEY
openweather.api.url=https://api.openweathermap.org/data/2.5/weather

# Auth0
auth0.audience=YOUR_AUTH0_API_AUDIENCE
spring.security.oauth2.resourceserver.jwt.issuer-uri=https://YOUR_AUTH0_DOMAIN/
